@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @layer base {
    :root {
      --background: 53 65% 99%;
      --foreground: 53 77% 1%;
      --muted: 23 15% 94%;
      --muted-foreground: 23 1% 25%;
      --popover: 53 65% 99%;
      --popover-foreground: 53 77% 1%;
      --card: 53 65% 99%;
      --card-foreground: 53 77% 1%;
      --border: 53 9% 89%;
      --input: 53 9% 89%;
      --primary: 53 32% 74%;
      --primary-foreground: 53 32% 14%;
      --secondary: 23 32% 74%;
      --secondary-foreground: 23 32% 14%;
      --accent: 83 32% 74%;
      --accent-foreground: 83 32% 14%;
      --destructive: 19 93% 40%;
      --destructive-foreground: 0 0% 100%;
      --ring: 53 32% 74%;
      --radius: 1rem;
    }

    .dark {
      --background: 53 47% 4%;
      --foreground: 53 21% 98%;
      --muted: 23 15% 6%;
      --muted-foreground: 23 1% 75%;
      --popover: 53 47% 4%;
      --popover-foreground: 53 21% 98%;
      --card: 53 47% 4%;
      --card-foreground: 53 21% 98%;
      --border: 53 9% 15%;
      --input: 53 9% 15%;
      --primary: 53 32% 74%;
      --primary-foreground: 53 32% 14%;
      --secondary: 23 32% 74%;
      --secondary-foreground: 23 32% 14%;
      --accent: 83 32% 74%;
      --accent-foreground: 83 32% 14%;
      --destructive: 19 93% 58%;
      --destructive-foreground: 0 0% 0%;
      --ring: 53 32% 74%;
      --radius: 1rem;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.customTag {
  color: blue; /* Change the color to your desired style */
  font-weight: bold; /* Make the text bold */
  /* Add any other styles you want */
}
